<!-- {{ ngModel.ups }} up, {{ ngModel.downs }} down <br /> -->

<div class="panel panel-default">
    <div class="panel-heading">
      <a href="{{ ngModel.url }}"><img ng-src="{{ ngModel.thumbnail }}" /><h3 class="panel-title">{{ ngModel.title }}</h3> - Score: {{ ngModel.score }}</a>
    </div>
    <div class="panel-body">
      <button class="btn btn-xs btn-success" ng-click="upvoteArticle(ngModel)">awesome!</button>
      <button class="btn btn-xs btn-info" ng-click="unvoteArticle(ngModel)">meh</button>
      <button class="btn btn-xs btn-danger" ng-click="downvoteArticle(ngModel)">booo-urns!</button>
      <br /><a href="http://reddit.com{{ ngModel.permalink }}">{{ ngModel.num_comments }} comments</a>
    </div>
</div>